# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Google Drive authorization files
client_secrets.json
*.log

# Model files
*.pt

# Captured frames
captured_frames/
